@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,900;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Source Sans Pro"; }

h1 {
  font-size: 10rem; }

h2 {
  font-size: 7rem;
  padding: 3rem;
  background-color: #b7c34a; }

h3 {
  font-size: 5rem; }

.top {
  position: absolute;
  background-color: #b7c34a;
  height: 5rem;
  width: 5rem;
  bottom: 3rem;
  right: 3rem;
  border-radius: 50%;
  color: #2c5369;
  text-align: center;
  line-height: 5rem;
  font-size: 2.5rem; }
  .top:hover {
    background-color: #96dcf7;
    transition: all 0.3s; }
  .top:visited, .top:active, .top:focus {
    color: #2c5369; }

body {
  overflow: hidden; }

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: [sidebar-start] minmax(20rem, 1fr) [sidebar-end full-start] 4fr [full-end]; }

.sidebar {
  grid-column: sidebar-start / sidebar-end; }

.content {
  grid-column: full-start / full-end;
  overflow-y: scroll;
  scroll-behavior: smooth; }
  .content .header {
    height: 90vh; }
  .content .projects {
    text-align: center; }
  .content .cv {
    text-align: center; }
    .content .cv iframe {
      padding: 3rem; }
  .content .contact {
    text-align: center; }
  .content .footer {
    height: 10vh; }

.contact__form {
  color: #2c5369;
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 70%;
  margin: 0 auto; }
  .contact__form label {
    text-align: left;
    display: block;
    padding: 3rem 1rem 1rem 0;
    width: 100%; }
  .contact__form input {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem; }
  .contact__form #subject {
    width: 100%;
    padding: 1rem;
    height: 17rem;
    font-family: "Source Sans Pro";
    font-size: 1.8rem; }
    .contact__form #subject::placeholder {
      font-family: "Source Sans Pro"; }
  .contact__form button {
    width: 50%;
    color: #2c5369;
    background-color: #b7c34a;
    border-radius: .3rem;
    border: none;
    padding: 2rem;
    font-size: 2.2rem;
    font-weight: 900;
    margin: 3rem auto; }
    .contact__form button:hover {
      cursor: pointer;
      background-color: #96dcf7;
      transition: all 0.3s ease; }

.contact__details {
  max-width: 70%;
  margin: 0 auto;
  text-align: center; }
  .contact__details .contact__detail {
    color: #2c5369;
    font-size: 1.8rem;
    font-weight: 400; }
    .contact__details .contact__detail span {
      color: #99a436; }

.footer {
  color: #c7e2eb;
  background-color: #356991;
  text-align: center;
  padding-top: 4vh; }
  .footer p {
    font-weight: 900;
    font-size: 1.5rem; }

.header {
  background-image: linear-gradient(45deg, rgba(199, 226, 235, 0.65), rgba(199, 226, 235, 0.65) 30rem, rgba(255, 255, 255, 0.8) 30rem, rgba(255, 255, 255, 0.8) 30.1rem, rgba(150, 220, 247, 0.65) 30.1rem, rgba(150, 220, 247, 0.65) 60rem, rgba(255, 255, 255, 0.8) 60rem, rgba(255, 255, 255, 0.8) 60.1rem, rgba(123, 207, 247, 0.65) 60.1rem, rgba(123, 207, 247, 0.65) 90rem, rgba(255, 255, 255, 0.8) 90rem, rgba(255, 255, 255, 0.8) 90.1rem, rgba(88, 184, 251, 0.65) 90.1rem, rgba(88, 184, 251, 0.65) 120rem, rgba(255, 255, 255, 0.8) 120rem, rgba(255, 255, 255, 0.8) 120.1rem, rgba(67, 145, 204, 0.65) 120.1rem, rgba(67, 145, 204, 0.65) 150rem), url(../assets/home.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header .header__heading {
    color: #fff;
    padding: 1rem; }
  .header .header__subheading {
    color: #fff;
    padding: 1rem; }
  .header .header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 2rem;
    width: 82%; }
    .header .header__content .header__content-item {
      background-color: #356991;
      color: #c7e2eb;
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 50rem; }

.project {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-top: #356991 solid 0.2rem; }
  .project h2 {
    margin: 3rem;
    padding: 3rem; }
  .project .project__details {
    padding: 2rem; }
    .project .project__details .project__title {
      color: #2c5369;
      font-size: 6rem; }
    .project .project__details .project__links i {
      color: #b7c34a;
      font-size: 4rem;
      padding: 2rem; }
      .project .project__details .project__links i:hover {
        color: #96dcf7; }
    .project .project__details .project__description {
      color: #356991;
      font-size: 2rem;
      padding: .2rem; }
      .project .project__details .project__description a {
        text-decoration: none;
        color: #356991; }
        .project .project__details .project__description a:hover {
          color: #b7c34a; }
  .project .project__slider {
    display: flex;
    overflow-x: scroll;
    background-color: #96dcf7; }
    .project .project__slider .project__img {
      height: 70vh;
      width: auto;
      padding: 1rem; }
      .project .project__slider .project__img img {
        height: 100%;
        width: auto; }

.sidebar {
  background-color: #356991;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 10vh; }
  .sidebar img {
    margin: 1rem 0;
    border-radius: 50%;
    width: 85%; }
  .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 1; }
    .sidebar ul a {
      width: 100%;
      margin: 0.5rem; }
  .sidebar .nav-item {
    border-top: 0.1rem #c7e2eb solid;
    border-bottom: 0.1rem #c7e2eb solid;
    color: #c7e2eb;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    width: 100%;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer; }
    .sidebar .nav-item:hover {
      border-top: 0.1rem #2c5369 solid;
      border-bottom: 0.1rem #2c5369 solid;
      background-color: #96dcf7;
      color: #2c5369;
      transition: all 0.3s ease; }
  .sidebar a, .sidebar a:visited, .sidebar a:active, .sidebar a:hover, .sidebar a:focus {
    color: #c7e2eb;
    text-decoration: none; }
  .sidebar .icon {
    color: #c7e2eb;
    border: #c7e2eb solid 0.1rem;
    border-radius: 50%;
    height: 6rem;
    line-height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    text-align: center;
    list-style-type: none;
    font-size: 3rem;
    cursor: pointer; }
    .sidebar .icon:hover {
      border: 0.1rem solid #96dcf7;
      background-color: #96dcf7;
      color: #2c5369;
      transition: all 0.3s ease; }
