@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,900;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Source Sans Pro"; }

h1 {
  font-size: 10rem; }

h2 {
  font-size: 7rem;
  padding: 2rem;
  text-align: center;
  width: 100%; }

h3 {
  font-size: 5rem; }

.top {
  position: fixed;
  background-color: #b7c34a;
  height: 5rem;
  width: 5rem;
  bottom: 3rem;
  right: 3rem;
  border-radius: 50%;
  color: #2c5369;
  text-align: center;
  line-height: 5rem;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .top:hover {
    background-color: #96dcf7;
    transition: all 0.3s; }
  .top:visited, .top:active, .top:focus {
    background-color: #b7c34a;
    color: #2c5369;
    transition: all 0.3s; }

@media only screen and (max-width: 600px) {
  .top {
    height: 4rem;
    width: 4rem;
    bottom: 1rem;
    right: 1rem;
    line-height: 4rem;
    font-size: 2rem; } }

body {
  overflow: hidden; }

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: [sidebar-start] minmax(20rem, 1fr) [sidebar-end full-start] 4fr [full-end];
  grid-template-areas: "sidebar mycontent"; }

.sidebar {
  grid-area: sidebar; }

.content {
  grid-area: mycontent;
  overflow-y: scroll;
  scroll-behavior: smooth; }
  .content .header {
    min-height: 100vh;
    width: 100%; }
  .content .projects {
    text-align: center; }
  .content .cv {
    text-align: center; }
  .content .contact {
    text-align: center; }
  .content .footer {
    height: 10vh; }

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: "sidebar" "mycontent";
    overflow-y: scroll; }
  .cv iframe {
    height: 400px; } }

.contact__form {
  color: #2c5369;
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 70%;
  margin: 0 auto; }
  .contact__form label {
    text-align: left;
    display: block;
    padding: 3rem 1rem 1rem 0;
    width: 100%; }
  .contact__form input {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem; }
  .contact__form #subject {
    width: 100%;
    padding: 1rem;
    height: 17rem;
    font-family: "Source Sans Pro";
    font-size: 1.8rem; }
    .contact__form #subject::placeholder {
      font-family: "Source Sans Pro"; }
  .contact__form button {
    width: 50%;
    color: #2c5369;
    background-color: #96dcf7;
    border-radius: .3rem;
    border: none;
    padding: 2rem;
    font-size: 2.2rem;
    font-weight: 900;
    margin: 3rem auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .contact__form button:hover {
      cursor: pointer;
      background-color: #b7c34a;
      transition: all 0.3s ease; }

.contact__details {
  max-width: 70%;
  margin: 0 auto 2rem auto;
  text-align: center; }
  .contact__details .contact__detail {
    color: #2c5369;
    font-size: 1.8rem;
    font-weight: 400; }
    .contact__details .contact__detail span {
      color: #99a436; }

.footer {
  color: #c7e2eb;
  background-color: #356991;
  text-align: center;
  padding-top: 4vh; }
  .footer p {
    font-weight: 900;
    font-size: 1.5rem; }

.header {
  background-image: linear-gradient(45deg, rgba(199, 226, 235, 0.65), rgba(199, 226, 235, 0.65) 20%, rgba(150, 220, 247, 0.65) 20%, rgba(150, 220, 247, 0.65) 40%, rgba(123, 207, 247, 0.65) 40%, rgba(123, 207, 247, 0.65) 60%, rgba(88, 184, 251, 0.65) 60%, rgba(88, 184, 251, 0.65) 80%, rgba(67, 145, 204, 0.65) 80%, rgba(67, 145, 204, 0.65) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header .header__heading {
    text-align: center;
    color: #fff;
    animation-name: left-in;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header .header__subheading {
    text-align: center;
    color: #fff;
    animation-name: right-in;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header .header__container {
    margin: 2rem 4rem;
    animation-name: bottom-in;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header .header__text {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(150, 220, 247, 0.8);
    border: 0.1rem solid #356991;
    font-size: 2rem;
    text-align: center;
    color: #2c5369;
    margin-bottom: 2rem; }
  .header .header__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 2rem;
    border: 0.1rem solid #356991;
    border-radius: 1rem; }
    .header .header__content p {
      padding: 1rem;
      color: #fff;
      width: 100%;
      text-align: center;
      background-color: rgba(53, 105, 145, 0.8);
      border-radius: 1rem 1rem 0 0; }
    .header .header__content .header__content-item {
      background-color: #356991;
      color: #fff;
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 50rem; }

.project-1 {
  animation-name: left-in;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.project-2 {
  animation-name: top-in;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.project-3 {
  animation-name: right-in;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.project-4 {
  animation-name: bottom-in;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.projects {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.project {
  width: 45%;
  min-width: 40rem;
  border: solid #356991 0.1rem;
  border-radius: 1rem;
  margin: 2rem;
  position: relative; }
  .project .project__details {
    padding: 2rem;
    padding-bottom: 5rem; }
    .project .project__details .project__title {
      color: #2c5369;
      font-size: 6rem; }
    .project .project__details .project__links i {
      color: #b7c34a;
      font-size: 4rem;
      padding: 2rem;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .project .project__details .project__links i:hover {
        color: #96dcf7;
        transform: scale(1.2);
        transition: all 0.3s; }
    .project .project__details .project__description {
      color: #356991;
      font-size: 3rem;
      font-weight: 200;
      padding: .2rem; }
      .project .project__details .project__description a {
        text-decoration: none;
        color: #356991; }
        .project .project__details .project__description a:hover {
          color: #b7c34a; }
  .project .project__img {
    height: auto;
    width: 100%;
    padding: 1rem; }
    .project .project__img img {
      height: auto;
      width: 100%; }
  .project .project__button {
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    border: none;
    background-color: #356991;
    color: #c7e2eb;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    position: absolute;
    width: 100%;
    align-self: center;
    bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none; }
    .project .project__button:hover {
      background-color: #96dcf7;
      color: #2c5369;
      transition: all 0.3s;
      cursor: pointer; }

@media only screen and (max-width: 600px) {
  .project {
    width: 100%; } }

.sidebar {
  border-right: 0.1rem #2c5369 solid;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll; }
  .sidebar img {
    margin: 1rem 0;
    border-radius: 50%;
    width: 85%; }
  .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex: 1; }
    .sidebar ul a {
      width: 100%;
      margin: 0.5rem; }
  .sidebar .nav-item {
    border-top: 0.1rem #2c5369 solid;
    border-bottom: 0.1rem #2c5369 solid;
    color: #2c5369;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    width: 100%;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .sidebar .nav-item:hover {
      border-top: 0.1rem #2c5369 solid;
      border-bottom: 0.1rem #2c5369 solid;
      background-color: #96dcf7;
      color: #2c5369;
      transition: all 0.3s ease; }
  .sidebar a, .sidebar a:visited, .sidebar a:hover, .sidebar a:focus {
    color: #2c5369;
    text-decoration: none; }
  .sidebar .icon {
    color: #2c5369;
    border: #2c5369 solid 0.1rem;
    border-radius: 50%;
    height: 6rem;
    line-height: 6rem;
    width: 6rem;
    margin: 0.5rem;
    text-align: center;
    list-style-type: none;
    font-size: 3rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .sidebar .icon:hover {
      border: 0.1rem solid #356991;
      background-color: #96dcf7;
      color: #2c5369;
      transition: all 0.3s ease; }

@keyframes left-in {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes right-in {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bottom-in {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes top-in {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    padding: 1rem;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; }
  .popup__left {
    width: 100%;
    text-align: center; }
  .popup__close {
    float: left;
    color: #356991;
    font-size: 4rem;
    padding: .2rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: solid #2c5369 0.2rem;
    text-decoration: none;
    background-color: orange; }
    .popup__close a {
      text-decoration: none;
      color: #356991; }
      .popup__close a:hover {
        color: #b7c34a; }
  .popup__title {
    color: #2c5369;
    font-size: 6rem; }
  .popup__links i {
    color: #b7c34a;
    font-size: 4rem;
    padding: 2rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .popup__links i:hover {
      color: #96dcf7;
      transform: scale(1.2);
      transition: all 0.3s; }
  .popup__stack {
    color: #356991;
    font-size: 3rem;
    font-weight: 200;
    padding: .2rem; }
    .popup__stack a {
      text-decoration: none;
      color: #356991; }
      .popup__stack a:hover {
        color: #b7c34a; }
  .popup__description {
    color: #356991;
    font-size: 2rem;
    padding: .2rem; }
    .popup__description a {
      text-decoration: none;
      color: #356991; }
      .popup__description a:hover {
        color: #b7c34a; }
  .popup__right {
    width: 70vw;
    height: auto;
    display: flex;
    overflow-x: scroll;
    justify-content: start;
    align-items: flex-start;
    margin: 1rem;
    border: 0.1rem solid #356991;
    border-radius: 1rem; }
  .popup__img {
    height: 100%;
    padding: 1rem; }
    .popup__img img {
      height: 100%; }

@media only screen and (max-width: 600px) {
  .popup__left {
    width: 100%; }
  .popup__right {
    width: 95%; } }

.cv iframe {
  max-width: 900px;
  width: 70%;
  padding: 3rem;
  height: auto;
  max-height: 1100px;
  border: none; }
