$str1: #c7e2eb;
$str2: #96dcf7;
$str3: #7bcff7;
$str4: #58b8fb;
$str5: #4391cc;

$pri: #356991;
$sec: #b7c34a;
$ter: #96dcf7;
$text-dark: #2c5369;
$text-light: #c7e2eb;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,900;1,300&display=swap"); // Source Sans Pro - 200, 300, 400, 900
$font-main: 'Source Sans Pro';