@keyframes left-in {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes right-in {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes bottom-in {
  0% {
      opacity: 0;
      transform: translateY(10rem);
  }

  80% {
      transform: translateY(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes top-in {
  0% {
      opacity: 0;
      transform: translateY(-10rem);
  }

  80% {
      transform: translateY(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}