body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: [sidebar-start] minmax(20rem, 1fr) [sidebar-end full-start] 4fr [full-end];
} 

.sidebar {
  grid-column: sidebar-start / sidebar-end;
}

.content {
  grid-column: full-start / full-end;
  overflow-y: scroll;

  .header {
    height: 90vh;
  }

  .projects {
    height: 85vh;
    padding: 3rem;
    text-align: center;
  }

  .cv {
    padding: 3rem;
    text-align: center;
  }

  .contact {
    height: 90vh;
    padding: 3rem;
    text-align: center;
  }

  .footer {
    height: 10vh;
  }
}