// .cv {
//   iframe {
//     max-width: 900px;
//     width: 70%;
//     padding: 3rem;
//     height: auto;
//     max-height: 1100px;
//     border: none;
//   }
// }

.iframe-container {
  overflow: hidden;
  /* 0.66:1 aspect ratio needed */
  padding-top: 151%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}