.sidebar {
  justify-content: center;
  background-color: $pri;

  img {
    border-radius: 50%;
    width: 85%;
    margin: .5rem auto 5rem auto;
  }

  ul li {
    margin: .5rem 0;
    border-top: .1rem $ter solid;
    border-bottom: .1rem $ter solid;
    color: $text-light;
    text-align: center;
    padding: .7rem;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 200;
  }
}